@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

/* Global body and html styling */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f4f6;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

/* Add custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}

/* For Firefox compatibility (less customization) */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb and track color */
}


/* body {
  @apply font-sans;
} */


/* make SweetAlert appear above MUI Drawer/Modal (MUI drawer z-index ~1200) */
.swal2-container,
.my-swal-container {
  z-index: 20000 !important;
}

.swal2-popup,
.my-swal-popup {
  z-index: 20001 !important;
}





